{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "@babel/eslint-parser",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "chrome": true,
  },
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "jsx-quotes": [2, "prefer-double"],
    "react/display-name": [2, {"ignoreTranspilerName": false}],
    "react/sort-comp": 2,
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-wrap-multilines": 2,
    "react/no-deprecated": 2,
    "react/no-unknown-property": 2,
    "semi": [2, "always"],
    "strict": [2, "global"],
    "quotes": [2, "single"],
    "no-console": 1,
    "no-unused-vars": [2, {"args": "none"}]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  }
}