.LinkPageHeader {
  white-space: nowrap;
  line-height: normal;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.LinkPageStatus {
  float: right;
}

.LinkList {
  list-style: none;
  padding-left: 0;
}

.LinkListItem {
  border-bottom: 1px solid #ddd;
  padding-left: 0.5em;
  padding-right: 0.5em;
  word-wrap: break-word;
}

.LinkListItem:nth-child(odd) {
  background-color: #F5F5F5;
}

.LinkListItem--blocked > a {
  color: #a94442;
}

.LinkListItem--duplicate > a {
  color: #aaa;
}

.LinkListItem--blocked.LinkListItem--duplicate > a {
  color: #ebccd1;
}

.LinkPageOptionsForm .form-group {
  margin-bottom: 1em;
}

.LinkPageOptionsForm > .form-group + .form-group {
  margin-left: 1em;
}
@media (max-width: 767px) {
  .LinkPageOptionsForm {
    margin-bottom: 0em;
  }
  .LinkPageOptionsForm > .form-group + .form-group {
    margin-left: 0;
  }
}

.LinkPageOptionsForm .checkbox-inline {
  user-select: none;
}